.u-section-1 .u-sheet-1 {
  min-height: 386px;
}

.u-section-1 .u-text-1 {
  width: 680px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  width: 656px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 58px;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 73px;
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 61px;
    margin-bottom: 50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 209px;
  height: 383px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  width: 209px;
  height: 383px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-image-3 {
  width: 209px;
  height: 383px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 9px 30px;
}

.u-section-2 .u-image-4 {
  width: 209px;
  height: 383px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    width: 175px;
    height: 321px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    width: 175px;
    height: 321px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-2 .u-image-3 {
    width: 175px;
    height: 321px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-2 .u-image-4 {
    width: 175px;
    height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2377px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 759px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 478px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 402px;
}

.u-section-3 .u-video-1 {
  height: 273px;
  width: 484px;
  margin: 30px 308px 0 auto;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-3 .u-text-1 {
  margin: 21px 210px 39px 250px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-video-1 {
    height: 272px;
  }

  .u-section-3 .u-text-1 {
    width: 680px;
    margin-left: 150px;
    margin-right: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-video-1 {
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-3 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-video-1 {
    height: 190px;
    margin-top: 81px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .embed-responsive-1 {
    width: 188%;
    height: 100%;
    left: -44%;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: 62px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 240px;
}

.u-section-4 .u-text-1 {
  width: 787px;
  margin: 36px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 693px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 182px;
}

.u-section-5 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-5 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-text-3 {
  margin: 0 570px 0 450px;
}

.u-section-5 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-5 .u-text-4 {
  margin: 0 484px 36px 450px;
}

.u-section-5 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 31px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 392px;
    margin-left: 350px;
  }

  .u-section-5 .u-text-4 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-left: 240px;
    margin-right: 360px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 360px;
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    margin-left: 150px;
    margin-right: 270px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 270px;
    margin-left: 150px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 50px;
    margin-right: 170px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-right: 104px;
    margin-left: 50px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 305px;
}

.u-section-6 .u-text-1 {
  margin: 19px auto 0 285px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 199px;
  margin: 25px 340px 36px 285px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 185px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 570px;
    margin-left: 185px;
    margin-right: 240px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 75px;
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    width: 340px;
    margin-right: 0;
  }
}